.addfav {
	width: 250px;
    clear: both;
}

.addfav input {
	width: 100%;
    clear: both;
}

#floating-panel {
	margin-top: 5%;
	margin-left: 1%;
	/*text-align: center;*/
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
  	padding-left: 10px;
}